@{
    Layout = null;
}
<h4>Dodawanie zestawu</h4>
<br />
<label for="NameSet">Nazwa zestawu</label>
<input type="text" id="NameSet" />
<button id="AddNewSet">Dodaj zestaw</button>
<script type="text/javascript">
    $('#AddNewSet').click(function () {
        var data = {
            nameSet: $('#NameSet').val()
        };
        if (ValidatingControlMinLenght2ById('NameSet')) {

        PostAction('@Url.Action("DodajZestaw","Zestaw")', data, function (data) {

        });
        }
    });
</script>