@{
    Layout = null;
}

<div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%; border:  10px; border-color:blue; background-color:wheat;">
        <div class="form-horizontal" id="ErrorAlert" hidden="hidden">
            <ul id="ListError" class="form-control">
                
            </ul>
        </div>
    </div>
</div>