@model DTO.Models.HangmanGameState
@{
    Layout = null;
}
<style>
    .CharResponse {
        border-style: solid;
        border-color: black;
        width: 100px;
        height: 100px;
        display: inline-block;
        font-size: 72px;
        text-align: center;
    }

    #hangMan {
        background: url("../Content/man.png");
        width: 75px;
        height: 200px;
    }
</style>
<img id="hangMan" src="~/Content/img_trans.gif" />
<div></div>
<div class="form-horizontal">
    <h4>Wisielec</h4>
    <hr />
    @Html.Partial("Prompt", Model.Fiche)
    <div class="form-group">

        @foreach (var item in Model.Fiche.Response)
        {
            <span class="CharResponse" data-hidechar=@item></span>
        }

    </div>
    <div class="form-group">

        @foreach (var item in DTO.Models.HangmanGameState.Alphabet)
        {
            <button class="buttonChar">@item</button>
        }
        <br />
        <span class="form-control">Lista prób :</span>
        <ol id="MissedList">
        </ol>
        <br />
        <label for="UserTryText">Twój strzał : </label>
        <input type="text" id="UserTryText" class="form-control" />
        <hr />
        <button id="CheckUserTryText" class="form-control">Sprawdź</button>
    </div>
</div>
@Html.Partial("Common")
<script src="~/Scripts/Game/Hangman.js"></script>