@model DTO.Models.Fiche
@{
    Layout = null;
    string urlFile = Url.Action("LoadFile", "Comon", new { id = Model.IdPromptFile });
}
<div class="form-group gameDiv" id="PromptGameDiv">
    <h3>Podpowiedź to:</h3>
    <h3>@Model.Prompt</h3>
    @if (Model.TypePrompt == DTO.Enums.ContentType.Sound)
    {
        <audio controls="controls">
            <source src=@urlFile />
        </audio>
    }
    @if (Model.TypePrompt == DTO.Enums.ContentType.Image)
    {
        <img src=@urlFile />
    }
    @if (Model.TypePrompt == DTO.Enums.ContentType.Movie)
    {
        <video controls="controls">
            <source src=@urlFile />
        </video>
    }
</div>
