@model NaukaFiszek.Models.GameState
@{
    Layout = null;
}

<div class="form-horizontal">
    <h4>Napisz odpowiedź</h4>
    <hr />
    @Html.Partial("Prompt",Model);
    <div class="form-group">
        <label for=""></label>
        <div class="col-md-10">


        </div>
    </div>

</div>


